# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - "*"

variables:
  - name: BUILD_BRANCH
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      value: $(System.PullRequest.TargetBranch)
    ${{ else }}:
      value: $(Build.SourceBranchName)

jobs:
- job:
  displayName: "amd64"
  pool:
    vmImage: 'ubuntu-22.04'

  container:
    image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bookworm:$(BUILD_BRANCH)

  steps:
  - script: |
      sudo apt-get update
      sudo apt-get install -qq -y \
        qtbase5-dev \
        libdbus-glib-1-2 \
        libdbus-glib-1-dev \
        libpcsclite-dev \
        docbook-to-man \
        docbook-utils \
        aspell-en \
        libhiredis-dev \
        libnl-3-dev \
        libnl-genl-3-dev \
        libnl-route-3-dev \
        libnl-nf-3-dev \
        swig4.0 \
        libdbus-1-dev \
        libteam-dev
    displayName: "Install dependencies"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: Azure.sonic-buildimage.common_libs
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
      path: $(Build.ArtifactStagingDirectory)/download
      artifact: common-lib
      patterns: |
        target/debs/bookworm/libyang-*_1.0*.deb
        target/debs/bookworm/libyang_1.0*.deb
    displayName: "Download libyang from amd64 common lib"
  - script: |
      set -ex
      sudo dpkg -i $(find ./download -name *.deb)
    workingDirectory: $(Build.ArtifactStagingDirectory)
    displayName: "Install libyang from common lib"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: 9
      artifact: sonic-swss-common-bookworm
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
    displayName: "Download sonic swss common deb packages"
  - script: |
      sudo dpkg -i libswsscommon_1.0.0_amd64.deb
      sudo dpkg -i libswsscommon-dev_1.0.0_amd64.deb
    workingDirectory: $(Pipeline.Workspace)
    displayName: "Install sonic swss Common"
  - checkout: self
  - script: |
      ls -l
      dpkg-buildpackage -us -uc -b && cp ../*.deb .
    displayName: "Compile sonic wpa supplicant"
  - publish: $(System.DefaultWorkingDirectory)/
    artifact: sonic-wpa-supplicant
    displayName: "Archive sonic wpa supplicant debian packages"

- job:
  timeoutInMinutes: 240
  displayName: "arm64"
  pool: sonicso1ES-arm64

  container:
    image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bookworm:$(BUILD_BRANCH)-arm64

  steps:
  - script: |
      sudo apt-get update
      sudo apt-get install -qq -y \
        qtbase5-dev \
        libdbus-glib-1-2 \
        libdbus-glib-1-dev \
        libpcsclite-dev \
        docbook-to-man \
        docbook-utils \
        aspell-en \
        libhiredis-dev \
        libnl-3-dev \
        libnl-genl-3-dev \
        libnl-route-3-dev \
        libnl-nf-3-dev \
        swig4.0 \
        libdbus-1-dev \
        libteam-dev
    displayName: "Install dependencies"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: Azure.sonic-buildimage.common_libs
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
      path: $(Build.ArtifactStagingDirectory)/download
      artifact: common-lib.arm64
      patterns: |
        target/debs/bookworm/libyang-*_1.0*.deb
        target/debs/bookworm/libyang_1.0*.deb
    displayName: "Download libyang from arm64 common lib"
  - script: |
      set -ex
      sudo dpkg -i $(find ./download -name *.deb)
    workingDirectory: $(Build.ArtifactStagingDirectory)
    displayName: "Install libyang from common lib"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: 9
      artifact: sonic-swss-common-bookworm.arm64
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
    displayName: "Download sonic swss common deb packages"
  - script: |
      sudo dpkg -i libswsscommon_1.0.0_arm64.deb
      sudo dpkg -i libswsscommon-dev_1.0.0_arm64.deb
    workingDirectory: $(Pipeline.Workspace)
    displayName: "Install sonic swss Common"
  - checkout: self
  - script: |
      ls -l
      dpkg-buildpackage -us -uc -b && cp ../*.deb .
    displayName: "Compile sonic wpa supplicant"
  - publish: $(System.DefaultWorkingDirectory)/
    artifact: sonic-wpa-supplicant.arm64
    displayName: "Archive sonic wpa supplicant debian packages"


- job:
  timeoutInMinutes: 240
  displayName: "armhf"
  pool: sonicso1ES-armhf

  container:
    image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bookworm:$(BUILD_BRANCH)-armhf

  steps:
  - script: |
      sudo apt-get update
      sudo apt-get install -qq -y \
        qtbase5-dev \
        libdbus-glib-1-2 \
        libdbus-glib-1-dev \
        libpcsclite-dev \
        docbook-to-man \
        docbook-utils \
        aspell-en \
        libhiredis-dev \
        libnl-3-dev \
        libnl-genl-3-dev \
        libnl-route-3-dev \
        libnl-nf-3-dev \
        swig4.0 \
        libdbus-1-dev \
        libteam-dev
    displayName: "Install dependencies"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: Azure.sonic-buildimage.common_libs
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
      path: $(Build.ArtifactStagingDirectory)/download
      artifact: common-lib.armhf
      patterns: |
        target/debs/bookworm/libyang-*_1.0*.deb
        target/debs/bookworm/libyang_1.0*.deb
    displayName: "Download libyang from armhf common lib"
  - script: |
      set -ex
      sudo dpkg -i $(find ./download -name *.deb)
    workingDirectory: $(Build.ArtifactStagingDirectory)
    displayName: "Install libyang from common lib"
  - task: DownloadPipelineArtifact@2
    inputs:
      source: specific
      project: build
      pipeline: 9
      artifact: sonic-swss-common-bookworm.armhf
      runVersion: 'latestFromBranch'
      runBranch: 'refs/heads/master'
    displayName: "Download sonic swss common deb packages"
  - script: |
      sudo dpkg -i libswsscommon_1.0.0_armhf.deb
      sudo dpkg -i libswsscommon-dev_1.0.0_armhf.deb
    workingDirectory: $(Pipeline.Workspace)
    displayName: "Install sonic swss Common"
  - checkout: self
  - script: |
      ls -l
      dpkg-buildpackage -us -uc -b && cp ../*.deb .
    displayName: "Compile sonic wpa supplicant"
  - publish: $(System.DefaultWorkingDirectory)/
    artifact: sonic-wpa-supplicant.armhf
    displayName: "Archive sonic wpa supplicant debian packages"
